.setting-form{
    margin-left: 200px;
    margin-right: 600px;
    margin-top: 90px;
}
@media only screen and (max-width: 900px) {
.setting-form{
    margin-left: 0px;
    margin-right: 0px;
}
    .setting-form input{
        width: 70%;
    }
    .setting-form button{
        margin-left: 0px;
    }
}