.logo {
    min-height:200px;
    color:#afb1b5;
}
.logo h2{
    color: black;
}
.logo>img {
    margin-top: 30px;
    border-radius: 100%;
    background-color: #eeeeee;
    height: 120px;
    width:20%;!important;
}
.back ul {
    background-color: #0b9a0b !important;
}